<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>@ServerVersion</key>
<string>2.1.0</string>
<key>ApImg4Ticket</key>
<data>
MIIfiBYESU00TQIBADGCFsX/hOqFnEKCFrwwgha4FgRNQU5CMYIWrv+E6oWcUIIBgTCC
AX0WBE1BTlAxggFz/4SSuYZIKjAoFgRCTkNIBCCq5M1dXDyyUAoQqQv++++fEd3uU/RT
Z96Mlxt1lq0icP+Ekr2kRAswCRYEQk9SRAIBGv+EmpWgTwswCRYEQ0VQTwIBAf+EmqGS
UA0wCxYEQ0hJUAIDAIAg/4SawaRPCzAJFgRDUFJPAQH//4SazYpDCzAJFgRDU0VDAQH/
/4SqjZJEETAPFgRFQ0lEAgcTNVQChAAu/4WakZ5NCzAJFgRTRE9NAgEB/4eDjeRwazBp
FgRwY3JwBGEEQEZeErBzureIW+RSgYM/qPZ2unFILGxII4NoNAiobB3nfBknTEgki/RF
N/ZNLv7+7grOGsA3NvX2v5NDPCoUkymGneYjfJjim6QgVz+RZLsMtADH9+1YFdfq+XiK
DfAS/4ebud5uHjAcFgRzbm9uBBR2D3TXufzYNmh/WjQBmK0VFjarhf+Hm8nsbh4wHBYE
c3J2bgQUOWmhAtB6HT1Oxoznh760OLz+cVb/houNzHeBgTB/FgRhY2Z3MXf/hKKdplQ6
MDgWBERHU1QEMBGWt5ag2X6MuGGA/xe0mNrIqqgWAzDTGmkXV1Bxd2Ws1MXZNukIwewP
EbXxIHIjBv+Eqq2KWQswCRYERUtFWQEBAP+EqsGkTwswCRYERVBSTwEB//+Eqs2KQwsw
CRYERVNFQwEB//+Gi7nKZoGBMH8WBGFuZWYxd/+Eop2mVDowOBYEREdTVAQwKoep1ST+
dMRLSMEqRrTOhRLQmv5fyVEaXK/J7B4HjBtzuJsqdXKkGeeisrT4ZUj4/4SqrYpZCzAJ
FgRFS0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH//4aLveBm
gYEwfxYEYW9wZjF3/4SinaZUOjA4FgRER1NUBDAo2LaOpZk3k78Ybnw3Dvr8Hv1a17Tk
G6zSwEUI9d1ZnxoOfAXp0tNQqMeZmZURUjD/hKqtilkLMAkWBEVLRVkBAf//hKrBpE8L
MAkWBEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//hovZymaBgTB/FgRhdmVmMXf/hKKd
plQ6MDgWBERHU1QEMIO1PzVL8Prj/6DTuGqmN0dhrnzfY+67eIDcJOVLhj8WBPC3+flq
iPMSpicP6HcRpv+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB//+Eqs2K
QwswCRYERVNFQwEB//+Gk4XoMIGBMH8WBGJhdDAxd/+Eop2mVDowOBYEREdTVAQwm0/Y
XdZBRNwhJtfNhsz3emesiTXNhJ8/ObpCcNJHHDEnGYHUA0eN+kJHeBgy0DQG/4SqrYpZ
CzAJFgRFS0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH//4aT
hegxgYEwfxYEYmF0MTF3/4SinaZUOjA4FgRER1NUBDBM6wj8hktteKdvaJbm+KxBPo7R
F3XiltAdzU3PxK/1uDnmUYaXothnb/Y3OwGs1+P/hKqtilkLMAkWBEVLRVkBAf//hKrB
pE8LMAkWBEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//hpOF6EaBgTB/FgRiYXRGMXf/
hKKdplQ6MDgWBERHU1QEMBreGztWcjzcHarwTeoPniaDnd1yoSGzo+C3r8w0WiZxeqPp
D8VnKGyIBi4VWW78Ev+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB//+E
qs2KQwswCRYERVNFQwEB//+Gm6HOMIGBMH8WBGNoZzAxd/+Eop2mVDowOBYEREdTVAQw
vOY/LU9q/2OQnOvxVwuu7BJEmyQelCOgBBk189E8/LqLmnpfiBJMgDMAwQZWjLJ5/4Sq
rYpZCzAJFgRFS0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH/
/4aboc4xgYEwfxYEY2hnMTF3/4SinaZUOjA4FgRER1NUBDDV59rAOumoWSVvk8cs7NYg
8kVAdYEW1izQm7tsIzjX3unQ2IIAc2ufOhFhlUFb/Bj/hKqtilkLMAkWBEVLRVkBAf//
hKrBpE8LMAkWBEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//hqPR5GWBgTB/FgRkdHJl
MXf/hKKdplQ6MDgWBERHU1QEMCP6Ekj+AyEmH21T5NZlLbSUXg/KxoDzueZ/yyHDz0J5
7+pfrKKA4c5Ek1UHzNeUP/+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB
//+Eqs2KQwswCRYERVNFQwEB//+Gs9HCcHEwbxYEZnRhcDFn/4SinaZUKjAoFgRER1NU
BCBTQLagWb23MucV57sbKS7c1FwqjR0H5gOdPzONfEQoq/+Eqq2KWQswCRYERUtFWQEB
//+EqsGkTwswCRYERVBSTwEB//+Eqs2KQwswCRYERVNFQwEB//+Gs9HmcHEwbxYEZnRz
cDFn/4SinaZUKjAoFgRER1NUBCBTQLagWb23MucV57sbKS7c1FwqjR0H5gOdPzONfEQo
q/+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB//+Eqs2KQwswCRYERVNF
QwEB//+Gu5nwZoGBMH8WBGdmeGYxd/+Eop2mVDowOBYEREdTVAQwQDL/SmI0ICfbTbh1
URRLEO3t+LExfnpA6VqX+7TzLoa0RND2UURLsPospNY48DVB/4SqrYpZCzAJFgRFS0VZ
AQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH//4a7sfJQgYEwfxYE
Z2x5UDF3/4SinaZUOjA4FgRER1NUBDArPPpJpyunerDQEcAJU26AiAV6FSEq6p0cFQIR
JzZL04c3EBjNhTgAeoRwQOOFLUP/hKqtilkLMAkWBEVLRVkBAf//hKrBpE8LMAkWBEVQ
Uk8BAf//hKrNikMLMAkWBEVTRUMBAf//hsPBwnOBgTB/FgRocGFzMXf/hKKdplQ6MDgW
BERHU1QEMC3KxkBa9gsZztlxshYhwtHGuFrXsol0qgHJ7V3CEOLViQku3QAiPMGBXCSv
X/D4vv+Eqq2KWQswCRYERUtFWQEBAP+EqsGkTwswCRYERVBSTwEB//+Eqs2KQwswCRYE
RVNFQwEB//+Gy4nKY4GBMH8WBGliZWMxd/+Eop2mVDowOBYEREdTVAQwTA9fbyruU191
T//C86BKAojf/jJpxNwWx1lHBS2whwEe96YYNwRUiLzGeQj1wAD3/4SqrYpZCzAJFgRF
S0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH//4bLid50gYEw
fxYEaWJvdDF3/4SinaZUOjA4FgRER1NUBDBwmQM2rxb6Ykzma5WOEqR8HyoVb1IhdzaE
xvPkqx7HZhDcfxPrQe5r8zDEOFjp483/hKqtilkLMAkWBEVLRVkBAf//hKrBpE8LMAkW
BEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//hsuJ5nOBgTB/FgRpYnNzMXf/hKKdplQ6
MDgWBERHU1QEMK40gIaG6d18QYijFb8LwQDN6QHpOXOyJAsH7tOTXF1EYgL+kaT+LmfO
8sjUD19PGP+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB//+Eqs2KQwsw
CRYERVNFQwEB//+Gy7HYYoGBMH8WBGlsbGIxd/+Eop2mVDowOBYEREdTVAQwStqJ5TFm
pfJpQvhlG8dmuCofZOEvSCSB6PrZUTTJMaMbj/+x865Nsls0ARDFBkOl/4SqrYpZCzAJ
FgRFS0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH//4bLzeBm
gYEwfxYEaXNwZjF3/4SinaZUOjA4FgRER1NUBDCbbninrOG8BuLzzQu6w8y9T3y1HIvd
nwfkTcjnKBSEmFENI/OfHtWy13cniFsoEen/hKqtilkLMAkWBEVLRVkBAf//hKrBpE8L
MAkWBEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//hsvN8nOBgTB/FgRpc3lzMXf/hKKd
plQ6MDgWBERHU1QEMAwEfrw7/6gZuNjMRy8tHmMjJSYJUvXHt3ehXG4EmycPsjM7VzOx
rLhIwbiYrPQC0/+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB//+Eqs2K
QwswCRYERVNFQwEB//+G28ncbIGBMH8WBGtybmwxd/+Eop2mVDowOBYEREdTVAQw+R/1
FkLadxw/CGC+KfQbSf/0v9b0sBhXp/PsKcj5kSwEGZuJrib+wL7zn+tSP4z3/4SqrYpZ
CzAJFgRFS0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH//4bj
vc5vgYEwfxYEbG9nbzF3/4SinaZUOjA4FgRER1NUBDD4kM9gLm+id2H/YNsAadRFKjF2
q6zDrHmP1rDx28v5NQt16vxJnP9aXL6o3IO1U4X/hKqtilkLMAkWBEVLRVkBAf//hKrB
pE8LMAkWBEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//huPB7jCBgTB/FgRscHcwMXf/
hKKdplQ6MDgWBERHU1QEML8eiElNyhve3VLFFa01ganUgTrR6HeD8V18Kb+bPpdKfpwa
LJYLXZLDAItHuKUY6P+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB//+E
qs2KQwswCRYERVNFQwEB//+G683yc4GBMH8WBG1zeXMxd/+Eop2mVDowOBYEREdTVAQw
rE/M9RVQYJU7/8Z657TY/kIEd1LCRPqN90uE+/ylpWMVOycIqBaAPU1nL9LFu0RU/4Sq
rYpZCzAJFgRFS0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH/
/4br0cx3gYEwfxYEbXRmdzF3/4SinaZUOjA4FgRER1NUBDAEM5kNSlr8EhTuzb3HItvP
zWyP4336CChB8/4/GdkXHIpWlXarsilXzVUtzVaf79n/hKqtilkLMAkWBEVLRVkBAQD/
hKrBpE8LMAkWBEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//h5OR5muBgTB/FgRyZHNr
MXf/hKKdplQ6MDgWBERHU1QEMIk+zUsbVx1NmUEoNFIveq7kTA+nJQBtwjW//S1k3xE8
iPhP0K8HlhPOwfIekzBzIv+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB
//+Eqs2KQwswCRYERVNFQwEB//+Hk5HocoGBMH8WBHJkdHIxd/+Eop2mVDowOBYEREdT
VAQw7/Zm9BbJ1+AmqnSy7cCuRN0o72gGxyBFcxCR1eHRQKRleZ1kAFku30AzLu4DYdFE
/4SqrYpZCzAJFgRFS0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VD
AQH//4eTlcZtgYEwfxYEcmVjbTF3/4SinaZUOjA4FgRER1NUBDA9IYewPyVS0mj71+xh
y8gai4IiWD7nN/NySpjT6bJVy6vkYts1dw079Vk8NMfxs7X/hKqtilkLMAkWBEVLRVkB
Af//hKrBpE8LMAkWBEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//h5OZ6GFxMG8WBHJm
dGExZ/+Eop2mVCowKBYEREdTVAQgU0C2oFm9tzLnFee7Gyku3NRcKo0dB+YDnT8zjXxE
KKv/hKqtilkLMAkWBEVLRVkBAf//hKrBpE8LMAkWBEVQUk8BAf//hKrNikMLMAkWBEVT
RUMBAf//h5OZ6HNxMG8WBHJmdHMxZ/+Eop2mVCowKBYEREdTVAQgU0C2oFm9tzLnFee7
Gyku3NRcKo0dB+YDnT8zjXxEKKv/hKqtilkLMAkWBEVLRVkBAf//hKrBpE8LMAkWBEVQ
Uk8BAf//hKrNikMLMAkWBEVTRUMBAf//h5Ot5G6BgTB/FgRya3JuMXf/hKKdplQ6MDgW
BERHU1QEMKTyli7CrjAYEKQHniorN3IDSdbXo/zhuDdCV47bC2j4QxX7chA2MaKK7bxM
qAtqdf+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB//+Eqs2KQwswCRYE
RVNFQwEB//+Hk7HOb4GBMH8WBHJsZ28xd/+Eop2mVDowOBYEREdTVAQwv4aPKYz96SqT
PkxXbVtRQsPCePu2eDi6DQeOrdHm2J/sLPIg6+S3l0ysvJSSi1Ms/4SqrYpZCzAJFgRF
S0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH//4eTveZpgYEw
fxYEcm9zaTF3/4SinaZUOjA4FgRER1NUBDC978ArCos1gj76KzDj6W6IA3dOikqSulYK
XkakzB3pHSS8FboQmzONKIR7pQms5mL/hKqtilkLMAkWBEVLRVkBAf//hKrBpE8LMAkW
BEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//h5PNynCBgTB/FgRyc2VwMXf/hKKdplQ6
MDgWBERHU1QEMIlu8F2YR3ZKbauwRgrR1pZRuJJukZW+jxPVDdE/8oByufqCfG9Ko3Ec
pW883rQDM/+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB//+Eqs2KQwsw
CRYERVNFQwEB//+Hk9HmY4GBMH8WBHJ0c2Mxd/+Eop2mVDowOBYEREdTVAQwzEFaFe8C
JbnW66906llkvzh2GSTkTeAkBJRVOCIvCi9pDpk64ic5QL22xU27gfEW/4SqrYpZCzAJ
FgRFS0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH//4ebleBp
gYEwfxYEc2VwaTF3/4SinaZUOjA4FgRER1NUBDBmiJhljnmH85DwnQE+0T/oluD3gJNb
BH3ry4Ar9KiSHR8uWPS4Y1uAF+qA/OZ4h0j/hKqtilkLMAkWBEVLRVkBAf//hKrBpE8L
MAkWBEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf//h5ul3maBgTB/FgRzaW9mMXf/hKKd
plQ6MDgWBERHU1QEMMhThbj0qot5ryJ+6MQTEOOd8TkLGbG7FBfyVZ7IXs0izXj9qaN5
maVK8t+6J4HakP+Eqq2KWQswCRYERUtFWQEB//+EqsGkTwswCRYERVBSTwEB//+Eqs2K
QwswCRYERVNFQwEB//+Ho8nmdIGBMH8WBHRyc3Qxd/+Eop2mVDowOBYEREdTVAQwxMOc
6pnIqHNWKyoON9heuW1Sbx95arqSacXMDm2myr5iGx+ZkDi96yPQJH2Wl7/w/4SqrYpZ
CzAJFgRFS0VZAQH//4SqwaRPCzAJFgRFUFJPAQH//4SqzYpDCzAJFgRFU0VDAQH//4e7
jdBmgYEwfxYEd2NoZjF3/4SinaZUOjA4FgRER1NUBDD4kUJ/+EizSnWRGO4urmlGzAr3
U4jDkPONBs5lBO5y6mDkw5UNM3i/j7nZCTu3jeP/hKqtilkLMAkWBEVLRVkBAf//hKrB
pE8LMAkWBEVQUk8BAf//hKrNikMLMAkWBEVTRUMBAf8EggIAeYqdY6ZOSOqh2z3DqaNi
DNh10uojK3NhxeBm/gWTNN5chMaSPIhgKIhKof22sfO95bayrRhJKLW/7dC2jU2o7bJH
WXOyI1zw6nxKbKK8fYtK/PoJHOsKyXmpgPPykCHJYKhl8+HSOp1xNdDwytpMjrcPiW8b
EVPkjB2it+rKfZ0boTzNf8J8h8VlyjY93WPhqQzAdA3n6cevvNIaHYFvXsxLXru8qTFL
ipYC0fJbYmehX+oC47qrCi/jOdRkwmvOVgK9pa3baHJz+90yi56n/UjtAh8hXox0nIFt
YKfngl3qHh5UcgDDtAPbrs/Nv/b2+d67q+O8uICUH0WjwVHxWLf1JxwdvnFIrOKYXE5w
SFUqGysLpWkLsUW6RFFuKBkICEV/gUJ6uqu3d2eQL6751DaJwMRAB8SUlE7OqFBqEos5
i0d/9xoQgSRAy26kKsGfy4VmogJ9KtlZ6R7QHNrsv6ogqOvswLo+mG07RS0DPgu37w48
J5uQxgvr6AYQyXqf8V9e0y2P59IXrBW7ce/gXQlvqMgYszE1rvmK7Aeiw6Ih5y3aEPqq
lJrAYH/pEVrvu+kjKnVzkoknlh0+4Xl2N0+DEWDwDTYfEcHZVyX+RiksbGSY647OWZI0
ivH1xHbvfLprB08d7hWlI3giXu06BJ75apMzLnwAGl/1EHurkBUwggauMIIGqjCCBJKg
AwIBAgIIelM6HtOMN/owDQYJKoZIhvcNAQEMBQAwSzEnMCUGA1UEAwweQXBwbGUgU2Vj
dXJlIEJvb3QgUm9vdCBDQSAtIEcyMRMwEQYDVQQKDApBcHBsZSBJbmMuMQswCQYDVQQG
EwJVUzAeFw0xNjEwMDUxNzUxNDZaFw0zNDEyMTQyMDEzMTBaMFYxMjAwBgNVBAMMKVQ4
MDIwLVRzc0xpdmUtTWFuaWZlc3RLZXktUmV2QS1EYXRhQ2VudGVyMRMwEQYDVQQKDApB
cHBsZSBJbmMuMQswCQYDVQQGEwJVUzCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoC
ggIBANZvrkUYLQWt429QMxHykbXY+SlB72SZP4foKJbL/C19zarqmkZ9mKqXBp+8lWyR
FxUa97K9a2VUBuqrnVWz5XkMbvIAxOs3RYj0v5andHKHrnWVdipkg4i2SYifjXqVKePR
F8qnmUOBRPaxJ4YwZ8pgGT/ToaUAjDMo8suiEW/YTx0qzwNlR/XnHAOTKN/nIM79znd+
kT+elnbXLXUwNfMozRmi4LlACiBhmrOGtw4dSDso8mvbEnzWs5mjxVuYwKMinDFRdXWz
2lYXbothVk8rOgw9nz1WWT8HsDKJSyurT1zZsZcsjH+vryFyQE6z5vZvW6zQFb1K0bA6
OKil114lpviz4Hu8k4BsNz/zDiktFAaqk0ouMdeCBRolhtNOhXRtBkWQloFmnv6edgnK
quE15CuxU5+p58IrxVm0xr9RlPtZifQpTY/Um1XSk/i2rE6Dsm5yxJ8T0inG4SFwPqv5
6GctPumK2AsRAvJ+PMnXPDAl4UrwJdyRB54NrOviNB0LmwN3vWNrAGO24tvOc7ru/BzO
FItI1PmHUPsBVQbu9TDXIhaooZI9UwNy5eSw4qmPAxdkotE5G8Vd/NzJMXPne5/cwkuP
YA5iAyPSRdoVnlMNyKiBeEAQ2JXy9Y5oFx96FN7UvZckHUpNjA69coSseu1ni4Ng8SFz
o49m+7pbAgMBAAGjggGFMIIBgTAdBgNVHQ4EFgQU1KnLHfMFqmrbYXWTx1Nob4u9Xlgw
DAYDVR0TAQH/BAIwADAfBgNVHSMEGDAWgBRo6VlQRfFdB/k/xCb8HCdifZ4TlDAOBgNV
HQ8BAf8EBAMCB4AwggEfBgoqhkiG92NkBgEPAQH/BIIBDDGCAQj/hOqFnFCBtjCBsxYE
TUFOUDGBqv+EkrmGSAwwChYEQk5DSKACBQD/hJK9pEQMMAoWBEJPUkSgAgUA/4SalaBP
CzAJFgRDRVBPAgEB/4SaoZJQDTALFgRDSElQAgMAgCD/hJrBpE8MMAoWBENQUk+gAgUA
/4SazYpDDDAKFgRDU0VDoAIFAP+Eqo2SRAwwChYERUNJRKACBQD/hZqRnk0LMAkWBFNE
T00CAQH/h5u53m4MMAoWBHNub26gAgUA/4T6iZRQQzBBFgRPQkpQMTn/hKKdplQMMAoW
BERHU1SgAgUA/4SqwaRPDDAKFgRFUFJPoAIFAP+Eqs2KQwwwChYERVNFQ6ACBQAwDQYJ
KoZIhvcNAQEMBQADggIBALsTAE9L0ji+kvwNJxnc1wUPRyJMlOxay5ke9Sf5DP3E7TNZ
ObEuUjoEfX5J9bBzUyzu0wmRGNbHomgS4yIZJQCRVckR8x9PcxMMT105g3Lnv3VYgM3F
h+hkuVVXHFaitO2BJeLAF18aD++HcLmehJuQZpngV9qSmwoCbgo86AVyI9PamPGCmvMT
ADICPHDc8GRI6skClEtgbwRF+E0E3imcbTsBFgB45oxQxcsSSAQajpLSchaqZDukINrv
8dFNqOa7J/EeN09Wg0eaH7JMHpB7Ec/yujuPawVQfCQBTh1filfTUV4t4o9QsQSLFBPN
IoueJrHBgvuRmglvdqbH5Jm3Wc1rNaP9TbNpgc5EzRxpscUf+6vI8dftSxdfJ2siUCnz
IL6/j5BG20pUt2PDDeHv66JhvVn2U04/k8vRVtOswUtU7qbBjWqQFtlGFOdFrNpEtDZO
Ck1zDJMByH87c0vlrTF2fgLDoz0w8haMnmB4k/QpXTaVxUEwqJXNPuYEJF+L9WiRLVqK
SJWuX8yO0scdaWROMYimJbr++ZRn7KM0aAPIMbJWt10I++hLN9/5ZltzpDOCH30kcjNj
0o4YPJA0JopajoeWYjZJLcgrTkAyyXKVWtMDiPftHHbFds1exDk7TAGAvsK4CjwGjZv+
XLi016o44VQ9cKMSsVyjbD6g
</data>
<key>generator</key>
<string>0x88ea65112fe6322d</string>
<key>parametersLog</key>
<dict>
<key>time</key>
<integer>1606852675</integer>
<key>ecid</key>
<integer>5406659493232686</integer>
<key>nonce</key>
<string>aae4cd5d5c3cb2500a10a90bfefbef9f11ddee53f45367de8c971b7596ad2270</string>
<key>productType</key>
<string>iPhone11,6</string>
<key>productVersion</key>
<string>14.2</string>
<key>buildVersion</key>
<string>18B92</string>
</dict>
</dict>
</plist>